{% set indicate_span_class = "indicate" %}

<span class='{{ indicate_span_class }}'>
    <blockquote>
        <p>转载请注明出处：{{ page.url(true) }}</p
        ><p>访问原文「<a href='{{ page.url(true) }}'>{{ page.title }}</a>」获取最佳阅读体验并参与讨论
        </p>
    </blockquote>
</span>
<script type="text/javascript">
(function () {
    Element.prototype.remove = function () {
        this.parentElement.removeChild(this);
    }
    NodeList.prototype.remove = HTMLCollection.prototype.remove = function () {
        for (var i = this.length - 1; i >= 0; i--) {
            if (this[i] && this[i].parentElement) {
                this[i].parentElement.removeChild(this[i]);
            }
        }
    }
    var domain = document.domain;
    var white_list = ['blog.jamespan.me'];
    if (white_list.indexOf(domain) >= 0) {
        var elements = document.getElementsByClassName('{{ indicate_span_class }}');
        elements.remove();
    }
})()
</script>